@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* global variable  */
:root {
    --dark-primary: #1b1f24;
    --primary: #12bdff;
    --primary-hover: #0c8ec2;
    --notosans: "Noto Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans", sans-serif;
}

/* header files  */
header {
    background-color: #1b1f24;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    /* width: 100%; */
    top: 0;
    left: 0;
    right: 0;
}

/* logo class */
header .logo {
    color: var(--primary);
    font-weight: bold;
    letter-spacing: 2px;
}

header ol {
    display: flex;
    list-style: none;
}

header ol li {
    margin-left: 20px;
}

header ol li a {
    color: white;
    text-decoration: none;
}

header ol li a:hover {
    color: var(--primary);
}

/* header buttton */

header button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
}

header button:hover {
    cursor: pointer;
    background-color: var(--primary);
    /* color: var(--dark-primary); */
    color: white;
}

/* section:heme design */
section.hero-section {
    background-color: var(--dark-primary);
    color: white;
    display: flex;
    align-items: center;
    /* padding: 10px 40px; */
    padding: 60px 80px 0 240px;
}

.hero-section--tittle {
    font-size: 40px;
    font-weight: 900;
}

.hero-section-desc {
    color: #c4c4c4;
    /* color: brown; */
}

.social-icons {
    margin: 20px 0;
}

.social-icons li {
    margin-right: 15px;
    /* padding: 10px; */
    /* color: brown; */
}

.social-icons li a {
    text-decoration: none;
    color: white;
    /* list-style: none; */
}

ol.social-icons {
    list-style: none;
    display: flex;
}

/* .social-icons li >a:hover{
    color: var(--primary);
} */

.social-icons li a>i.fa-facebook:hover {
    color: #316FF6;
}

.social-icons li a>i.fa-linkedin:hover {
    color: #0077b5;
}

.social-icons li a>i.fa-instagram:hover {
    color: #fccc63;
}

.social-icons li a>i.fa-twitter:hover {
    color: #1DA1F2;
}


/* butttons a */
.btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.btn.btn-primary {
    font-weight: bold;
    background-color: var(--primary);
}

.btn.btn-primary:hover {
    background-color: var(--primary-hover);
}

.hero-btn {
    margin-right: 10px;
}

.btn-second {
    padding: 10px 20px;
    color: var(--primary);
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    font-weight: 600;
    border-radius: 5px;
    /* border: none; */
    /* border-radius: 1px solid var(--primary); */
}

/* about section  */
.about-section {
    background-color: #22282f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    /* padding: 10px 20px; */
}

.about-section>img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    box-shadow: 5px 5px 4opx var(--primary);
}

.about-section--desc {
    /* color: brown; */
    /* padding: 20px; */
    margin-left: 100px;
    max-width: 450px;
}

.about-section--desc h4 {
    font-size: 34px;
}

.about-section--desc ol {
    /* margin-top: 10px; */
    list-style: none;
    margin: 10px 0;
}

.about-section--desc li {
    margin-bottom: 5px;
    color: grey;
}

.about-section--desc li>a {
    text-decoration: none;
    color: grey;
}

.about-section--desc li>a:hover {
    /* color: var(--primary); */
    color: var(--primary-hover);
}

.about-section--desc li strong {
    color: white;
}

.about-section--desc h4 span {
    color: var(--primary);
}

/* ---work-section--- */
.work-section {
    background-color: var(--dark-primary);
    color: white;
    padding: 50px;
    text-align: center;
}

.work-section--title {
    /* color: brown; */
    font-size: 35px;
    font-weight: 900px;
    margin-bottom: 40px;
}

.work-section--title span {
    color: var(--primary);
}

.work-section-box {
    background-color: #22282f;
    padding: 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 40px;
}

.work-section-box:hover {
    background-color: var(--dark-primary);
}

.work-section-box p {
    color: grey;
    font-size: 15px;
}

.work-section-box a {
    text-decoration: none;
    color: orange;
    /* margin-top: 10px; */
}

.work-section-dec {
    margin-top: 10px;
    margin-bottom: 5px;
}

.work-section-icon {
    background-color: #0077b5;
    padding: 6px;
    /* height: auto; */
    border-radius: 50%;
    /* margin-bottom: 50px; */
}

.work-section-icon:hover {
    background-color: var(--primary-hover);
}

.work-section-items {
    display: flex;
    justify-content: center;
    /* align-items: end; */
}


/* -----contact section---- */
.Contact-section {
    background-color: #14171c;
    color: #fff;
    padding: 40px;
    text-align: center;
}

.Contact-section h4 {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 900;
}

.Contact-section h4>span {
    color: var(--primary);
}

.Contact-section form input,
textarea {
    background-color: #c4c4c4;
    padding: 5px 10px;
    outline: none;
    border: none;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 3px;
    resize: none;
    font-family: var(--primary);
}

/* .Contact-section form textarea{
    background-color:#c4c4c4;
    padding: 5px 10px;
    outline: none;
    border: none;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 3px;
} */

/* ----foooter---- */
footer {
    background-color: var(--dark-primary);
    color: grey;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: var(--primary);
}

/* -----mediaquery----- */
@media only screen and (max-width:600px) {
    header {
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
    }


    /* ---her0 section---- */
    section.hero-section {
        flex-direction: column;
        padding: 40px;
        /* padding: 5px 40px; */
    }
    .hero-btn{
        margin-bottom: 20px;
    }

    /* ----about section--- */
    section.about-section{
        flex-direction: column;
    }
    .about-section--desc{
        margin-top: 30px;
        margin-left: 50px;
        max-width: fit-content;
    }
    /* --my works--- */
    section.work-section{
        padding: 30px 20px;
    }
    div.work-section-items{
        flex-direction: column;
        /* margin-bottom: 20px; */
    }
    .work-section-box{
        margin-bottom: 20px;
        width: 100%;
        margin-left: 0;
    }

    /* ------contact section---- */
    .Contact-section form input,
    textarea{
        width: 90%;
    }
}